{
  "presets": [
    ["env", {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ]
  ],
  "plugins": ["transform-runtime", "transform-object-rest-spread", "lodash"],
  "env": {
    "commonjs": {
      "presets": [["env", { "modules": "commonjs", "loose": true }]]
    }
  }
}
